body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.profile-section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    display: flex;
    align-items: center;
}

.profile-image img {
    border-radius: 50%;
    width: 300px;
    height: 300px;
    margin-right: 50px;
}

h1, p {
    margin: 0;
}

.header-content {
    text-align: left;
}

section {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: darkgray;
}

h2 {
    color: #333;
}

ul {
    list-style-type: none;
    padding: 0;
}

#skill {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

#proj {
    display: block;
    margin-right: 10px;
    margin-bottom: 10px;
    width: 780px;
    background-color: #333;
    color: #fff;
    padding: 5px 10px;
    border-radius: 5px;
}

.project {
    margin-bottom: 20px;
}

a {
    color: #333;
}

a:hover {
    text-decoration: underline;
}
